PORT=YOUR_PORT_HERE
NODE_ENV=YOUR_NODENV_HERE
MONGO_URI=YOUR_MONGOURI_HERE

# **All values will be found in README.md in the "Required .env Variables" section. Do not change them!**

# ________
# Extras:

# Database Connection
# (Replace with your own local MongoDB URI or Atlas connection string! Latter is recommended.)
# MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce_db
# Or use the MONGO URI provided above!

# JWT Secrets (if you are using authentication)
# JWT_SECRET=your_jwt_secret_key_here
# JWT_EXPIRES_IN=90d